@font-face {
    font-family: AstroFont;
    src: url("astro_font.eot") /* EOT file for IE */
}

@font-face {
    font-family: AstroFont;
    src: url("astro_font.ttf") /* TTF file for CSS3 browsers */
}

.cls-sym {
    font-family: AstroFont!important;
}

.cls-retro {
    font-family: AstroFont!important;
}

.cls-retro:after {
    content: "M";
}

#sky {
    position: relative;
    margin: auto;
}

#sky .cls-plnt {
    font-family: AstroFont;
    font-size: 30px;
    z-index: 10;
}

#horizontal {
    position: relative;
}

#horizontal div {
    z-index: 10;
    display: inline;
    position: absolute;
}

#horizontal .cls-plnt {
    font-family: AstroFont;
    font-size: 20px;
    z-index: 10;
    display: inline;
}

#sky .cls-sign {
    font-family: AstroFont;
    font-size: 25px;
    z-index: 10;
}

#sky div {
    position: absolute;
    font-size: 20px;
    left: 50%;
    top: 50%;
    transition: text-shadow 1s ease-in-out;
}

#sky .container {
    position: relative;
    font-size: 5px;
    left: 0;
    top: 0;
}

#lines {
    position: absolute;
}

#lines div{
    position: absolute;
}
.cls-pos {
    visibility: hidden;
}
